Classes/__pycache__/Arquivo.cpython-312.pyc
Classes/__pycache__/BancoDados.cpython-312.pyc
Classes/__pycache__/InsercaoDados.cpython-312.pyc
Classes/__pycache__/AnaliseGenero.cpython-312.pyc
Classes/__pycache__/BancoDDL.cpython-312.pyc
Classes/__pycache__/BancoDML.cpython-312.pyc
Classes/__pycache__/BancoDQL.cpython-312.pyc
Classes/__pycache__/Grafico.cpython-312.pyc
